@import "tailwindcss";

@theme {
  --color-cream-50: #f5f5f1;
  --color-cream-100: #e7e7da;
  --color-cream-200: #d0ceb8;
  --color-cream-300: #b5b18f;
  --color-cream-400: #a0996f;
  --color-cream-500: #918861;
  --color-cream-600: #7c7052;
  --color-cream-700: #5f5440;
  --color-cream-800: #564b3d;
  --color-cream-900: #4c4237;
  --color-cream-950: #2a241e;
  --color-cream-990: #15120f;

  --color-patina-50: #f4f9f7;
  --color-patina-100: #dbece7;
  --color-patina-200: #b6d9ce;
  --color-patina-300: #8abeaf;
  --color-patina-400: #61a090;
  --color-patina-500: #498879;
  --color-patina-600: #376a5e;
  --color-patina-700: #2f564e;
  --color-patina-800: #294640;
  --color-patina-900: #253c37;
  --color-patina-950: #11221f;
}

@plugin "daisyui" {
  logs: false;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: var(--color-white);
  --color-base-200: var(--color-cream-50);
  --color-base-300: var(--color-cream-100);
  --color-base-content: var(--color-cream-900);
  --color-primary: var(--color-patina-500);
  --color-primary-content: var(--color-patina-50);
  --color-secondary: var(--color-cream-500);
  --color-secondary-content: var(--color-cream-100);
  --color-accent: #ffa725;
  --color-accent-content: #7a260d;
  --color-neutral: var(--color-cream-950);
  --color-neutral-content: var(--color-cream-200);
  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 0.75rem;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-primary: var(--color-patina-600);
  --color-primary-content: var(--color-patina-50);
  --color-secondary: var(--color-cream-500);
  --color-secondary-content: var(--color-cream-100);
  --color-accent: #ffa725;
  --color-accent-content: #7a260d;
  --color-neutral: var(--color-cream-990);
  --color-neutral-content: var(--color-cream-200);
  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 0.75rem;
}

@layer {
  .react-flow__attribution {
    display: none;
  }
}
